## Note: this notebook runs in R, not python.
To setup jupyter to run R, see: 

  1. https://www.continuum.io/blog/developer/jupyter-and-conda-r
  2. https://github.com/IRkernel/IRkernel

## Load the NADA package

In [1]:
library("NADA")

Loading required package: survival

Attaching package: 'NADA'

The following object is masked from 'package:stats':

    cor

## Read in the data

In [2]:
main_columns = c(
    'epa_rain_zone', 'season', 'primary_landuse',
    'parameter', 'fraction', 'units', 'res', 'qual'
)
df = read.csv("nsqdata_example_subset.csv")[main_columns]
head(df)

  epa_rain_zone season primary_landuse parameter fraction units res qual
1             1 spring     Residential   Cadmium    Total  ug/L  10    <
2             1 spring     Residential   Cadmium    Total  ug/L  10    <
3             1 spring     Residential   Cadmium    Total  ug/L  10    <
4             1 spring     Residential   Cadmium    Total  ug/L  10    <
5             1 spring     Residential   Cadmium    Total  ug/L   1    <
6             1 spring     Residential   Cadmium    Total  ug/L   1    <

## ROS the data and show the median

In [3]:
dfros = NADA::ros(df$res, df$qual=='<')
median(dfros)

Warning message:
In NADA::ros(df$res, df$qual == "<"): Dropped censored values that exceed max of uncensored values.

[1] 0.3518935